# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/logs/
backend/media/

# Alembic cache
backend/alembic/versions/__pycache__/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
*.log
Thumbs.db
